.important-dates {
  background: radial-gradient(
    246.17% 68.38% at 50% 50%,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 44, 76, 0.7) 63.9%,
    rgba(0, 108, 185, 0.7) 99.69%
  );

  .heading {
    color: white;
  }

  .flex-wrap {
    gap: 2.5%;

    .date-card {
      margin-top: 2rem;
      width: clamp(400px, 50%, 500px);
      border: 1px solid #eee;
      border-radius: 0.75rem;
      padding: 2.5rem 1.5rem;
      text-align: center;
      background-color: white;
      position: relative;

      .title {
        text-transform: uppercase;
        letter-spacing: -1px;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 1.25rem;
      }

      .font-18 {
        color: #006cb9;
      }
    }
  }
}
